* {
    font-family: 'revue', serif;
}

header {
    background-color: red;
    padding: 50px 10px 50px 10px;
}

header h1 {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#body {
    background-color: white;
    display: flex;
    padding: 30px 20px 30px 20px;
}

footer {
    background-color: red;
    text-align: center;
    color: white;
}

@font-face {
    font-family: 'revue';
    src: url('/public/assets/RevueStd.ttf');
}

h1 {
    font-family: 'revue', serif;
    color: white;
}

.dice {
    display: grid;
    border: solid 2px black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.dot {
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

#diceOutput {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#game {
    width: 100%;
    padding-left: 25px;
}

#game h2 {
    margin-top: 0px;
}
table {
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: solid 1px black;
}

tr:hover:not(.used, .label, #total, #upperSum, #bonus) {
    background-color: lightgreen;
}

.used {
    background-color: lightgray;
}

.locked {
    border: solid 2px red;
}

.dice:hover {
    border: solid 2px red;
}

.label {
    background-color: darkgray;
}
