.dice {
    display: grid;
    border: solid 2px black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.dot {
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

#diceOutput {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#game {
    width: 100%;
    padding-left: 25px;
}

#game h2 {
    margin-top: 0px;
}
table {
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
}

#body {
    display: flex;
}

tr:hover:not(.used, .label, #total, #upperSum, #bonus) {
    background-color: lightgreen;
}

.used {
    background-color: lightgray;
}

.locked {
    border: solid 2px red;
}

.label {
    background-color: darkgray;
}
